# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Cache
.cache/
.vercel/

# Runtime
storage/
scratch/
storage/pgdata/
storage/pgdata2/
storage/pgtest/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.pid
